:root {
  --color-bg: #f0f2f5;
  --color-text: #1c1e24;
  --color-accent: #ffa759;
  --color-accent-bg: rgba(255, 167, 89, 0.06);
  --color-text-muted: #555555;
  --color-code-bg: #eaeaea;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "Berkeley Mono", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --content-width: 90ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1e2130;
    --color-text: #cbccc2;
    --color-text-muted: #a0a0a0;
    --color-code-bg: #313135;
  }
}
