{% extends "base.html" %}
{% block content %}
{{ section.content | safe }}
<div class="posts">
  {% for page in paginator.pages %}
  <a href="{{ page.permalink }}" class="post">
    <header class="post-header">
      <p class="post-meta">
        <time datetime="{{ page.date }}"
          >{{ page.date | date(format="%d %b %Y") }}</time
        >
        · {{ page.reading_time }} min read
      </p>
      <h2>{{ page.title }}</h2>
      <p class="post-description">{{ page.description }}</p>
    </header>
  </a>
  {% endfor %}
</div>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %} {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}
